body{
    min-height:100vh;
    background:linear-gradient(217deg,rgb(255, 57, 57), rgb(54, 171, 255));
}

.navbar{
    margin-bottom:5rem;
}

a.btn{
    margin-bottom:5px;
}

.card{
    margin:1rem;
}

#game{
    background-color:rgb(31, 31, 31);
    width:fit-content;
    color:white;
    border: black solid 5px;
    border-radius:5px;
}

#chute{
    margin-bottom:10px;
    padding:0.2rem;
    width:12rem;
}

#dicas{
    margin-top:10px;
}