@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&family=Nova+Square&family=Quicksand:wght@600&family=Roboto&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    user-select:none;
}

body{
    max-height:100vh;
    background-color:rgb(17, 17, 17);}

a.btn{
    margin-bottom:5px;
}

.card{
    margin:1rem;
    background-color: white;
}

p,h5{
    color: green;
    background-color:black;
    width:fit-content;
    margin:0 auto;
    padding:5px;
}
h5{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom:0;
}

p{
    font-weight: bolder;
    font-size:1.5rem;
    background-color:black;
    border-radius:25px;

    
}



